@charset "utf-8";

body,
html {
  font-family: roboto;
  font-style: normal;
  font-weight: 400;
  height: 100%;
  margin: 0;
}

.bg {
  height: 100%;
  background-color: #c6c6c6;
  background-image: url('./cat.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% auto;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.content-card {
  margin-right: 28%;
  margin-top: 19%;
}

.content-title {
  font-size: 30px;
  letter-spacing: 10pt;
  word-spacing: 20pt;
  white-space: nowrap;
  height: 80px;
}

.channels {
  flex-direction: row;
  text-align: right;
  display: flex;
  justify-content: space-between;
  margin-left: 50%
}

.content-youtube,
.content-spotify,
.content-reddit,
.content-mega,
.content-github {
  font-size: 15px;
  letter-spacing: 3pt;
  height: 30px;
  padding-right: 10px;
}

a:visited,
a:link {
  color: black;
  text-decoration: none;
}

a:active,
a:hover {
  color: grey;
}
